<!DOCTYPE html>
<html lang="ja">

<head>

    <meta charset="UTF-8">

    <head>
        <!-- スマホやタブレットで表示をするビューポートの記述 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Style CSS -->
        <link href="CSS/style.css" rel="stylesheet">
        <title>validation機能付き入力フォーム</title>
    </head>
    <body>
<div id="app">
  <!-- <div class="form-area__name">
    <p>名前</p>
    <input type="text" name="name" v-model="name"/>
    <p v-if="isInValidName" class="error">名前は4文字以上で入力してください</p>
  </div>
  <div class="form-area__email">
    <p>メールアドレス</p>
    <input type="text" name="email" v-model="email">
    <p v-if="isInValidEmail" class="error">メールアドレスの形式で入力してください。</p>
  </div>
  <div class="form-area__tel">
    <p>メールアドレス</p>
    <input type="tel" name="tel" v-model="tel">
    <p v-if="isInValidTel" class="error">電話番号は8桁で入力してください。</p>
  </div> -->
  <input type="text" @input="setText" :value="text">
  <p>入力された文字は：{{text}}</p>
</div>
        <!-- 開発バージョン、便利なコンソールの警告が含まれています -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="js/validation-form.js"></script>
    </body>

</html>
